@{
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<div>
    <a href="~/ClientePF/Index" class="btn btn-primary" tabindex="-1" role="button" aria-disabled="true">Manutenção Cliente PF</a>
    <a href="~/ClientePJ/Index" class="btn btn-primary" tabindex="-1" role="button" aria-disabled="true">Manutenção Cliente PJ</a>
    <a href="~/Login/Index" class="btn btn-primary" tabindex="-1" role="button" aria-disabled="true">Sair</a>
</div>